{% extends 'rivecol/index.html' %}
{% comment %} <!doctype htmll>
<html lang="fr">
<head>
    <!-- Required meta flags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% comment %} <style type="text/css">
		@import url(./static/style.css);
	</style> 
    {% comment %} <link rel="stylesheet" type="text/css" href="./static/style.css" /> 


    
</head>
<body> {% endcomment %}

    {% block contenu %}
    {% load static %}
    <div style = " background-image: url('{% static 'images/pop-rivets.jpg' %}') ; width: 100%;position: absolute; "><div>
    
    <div class="container" style = "margin-top: 10%;margin-bottom: 10%;">
        <h2 class ="titre" style = "color: #222;font-size: 0.875rem;font-weight: 800;letter-spacing: 0.14em;text-transform: uppercase;margin-bottom: 5%;">ACCUEIL</h2>
        <br>
        <h2>Bienvenue sur Rivecol.</h2>
        <p>Ce site a été créé à l’initiative de deux <a class ="soutitre" href="https://www.lacloturemoderne.com/"  >métalliers-ferronniers</a> de la région bordelaise 
            qui n’arrivent pas toujours à trouver les accessoires liés à ce métier du bâtiment sans avoir à les fabriquer eux-mêmes.
        </p>
    
        <p>Parce que l’entraide et le partage du savoir-faire font parti de nos valeurs, nous vous proposons de vous 
            <a class ="soutitre"  href="https://www.rivecol.fr/boutique/" >fournir en rivets de couleurs</a> et autres produit du milieu du BTP.<b><a class ="soutitre"  href="https://www.rivecol.fr/contactez-nous/" >Posez-nous la question.</a></b> </p>
        <div class="clearfix">
            <img src="static/images/fabrique_france_550.png" class="col-md-6 float-md-end mb-3 ms-md-3 " alt="...">
            <p>Avec Rivecol, vous pouvez trouver toutes les <a href="">couleurs classiques</a>(soit 213 RAL) et 165 références de rivets 
                Alu/Inox directement sur le site et plus encore en <a href="">nous contactant</a>. <b>Donc si vous désirez un produit 
                non visible sur le site et/ou peint, quelque soit le domaine, faites-nous le savoir.</b>
            </p>

            <p>Dans cet optique de partage du savoir-faire, nous mettons à votre disposition nos partenaires comme la <a class ="soutitre"  href="">galvanisation</a> et 
                autres traitements contre la rouille, le <a class ="soutitre"  href="http://www.dicodunet.com/definitions/industrie/thermolaquage.htm" >thermolaquage</a>, <a class ="soutitre" href="https://fr.wikipedia.org/wiki/D%C3%A9coupe_laser" >la découpe laser</a>, le travail du verre et des serrures.
            </p>
        
            <p>Nous vous souhaitons une agréable expérience sur Rivecol et nous tenons à votre service.</p>          

            <p></p>
    
            <p>Pour suivre votre commande veuillez saisir votre ID de commande dans la boite ci-dessous et cliquer le bouton « Suivre ». 
                Il vous a été donné sur votre reçu et dans l’e-mail de confirmation que vous avez du recevoir.
            </p>
        </div>
    </div>
{% endblock %}
{% comment %} </body>
</html> {% endcomment %}