{% extends 'rivecol/index.html' %}

{% block contenu %}
<body>
    <h1><b>Conditions générales de vente</b></h1>

    <p>Société Rivecol</p>
    <p>SAS au capital de 1200 €</p>
    <p>Siège social au 18 rue Testaud 33600 Pessac</p>
    <p>Numéro d'immatriculation 887 807 857 RCS Bordeaux</p>
    <p>N° TVA FR 08887807857</p>
    <p>e-mail: contact@rivecol.fr</p>

    <h1>Loi applicable</h1>
    <p>Les parties conviennent que ce contrat est soumis à la loi française. Les informations contractuelles sont présentées en langue française. Le cas échéant, il appartient au client étranger de vérifier auprès des autorités locales les possibilités d'utilisation du produit qu'il envisage de commander ; la responsabilité de Rivecol ne saurait être engagée en cas de non-respect de la réglementation d'un pays étranger dans lequel le produit est livré.</p>

    <h1>Compétence judiciaire</h1>
    <p>En cas de litige, les tribunaux français sont seuls compétents.</p>

    <h1>Présentation des produits</h1>
    <p>Les caractéristiques des produits proposés à la vente sont présentées dans la rubrique «&nbsp;Boutique&nbsp;» de notre site. Les photographies n'entrent pas dans le champ contractuel. La responsabilité de la société Rivecol ne peut être engagée si des erreurs s'y sont introduites. Tous les textes et images présentés sur le site de Rivecol sont réservés, pour le monde entier, au titre des droits d'auteur et de propriété intellectuelle; leur reproduction, même partielle, est strictement interdite.</p>

    <h1>Devis</h1>

    <p>Rivecol peut le cas échéant fournir des produits autres que ceux proposés dans le catalogue en ligne ou personnaliser une commande. Pour ce faire, le client peut nous demander un devis à <a href="mailto:contact@rivecol.fr?subject=Devis">contact@rivecol.fr</a>.</p>

    <h1>Durée de validité des offres de vente</h1>
    <p>Les produits sont proposés à la vente jusqu'à épuisement du stock. En cas de commande d'un produit devenu indisponible, le client sera informé de cette indisponibilité, dans les meilleurs délais, par courrier électronique ou par courrier postal.</p>

    <h1>Prix des produits</h1>
    <p>La rubrique «&nbsp;Boutique&nbsp;» de notre site indique les prix en euros hors taxes et hors frais de port. Le montant de la TVA et le prix TTC est précisé après «&nbsp;ajout au panier&nbsp;» d'un produit par le client et les frais de port apparaissent sur l'écran à la fin de la sélection des différents produits par le client dans la rubrique «&nbsp;Panier&nbsp;».</p>
    <p>La société Rivecol se réserve le droit de modifier ses prix à tout moment mais les produits commandés sont facturés au prix en vigueur lors de l'enregistrement de la commande.</p>

    <h1>Commande</h1>
    <p>Le client valide sa commande lorsqu'il active le lien «&nbsp;Commander&nbsp;» en bas de la page «&nbsp;Validation de la commande&nbsp;» après avoir accepté les présentes conditions de vente. Avant cette validation, il est systématiquement proposé au client de vérifier chacun des éléments de sa commande; il peut ainsi corriger ses erreurs éventuelles.</p>
    <p>La société Rivecol confirme la commande par courrier électronique; cette information reprend notamment tous les éléments de la commande et le droit de rétractation du client.</p>
    <p>Les données enregistrées par la société Rivecol constituent la preuve de la nature, du contenu et de la date de la commande. Celle-ci est archivée par la société Rivecol dans les conditions et les délais légaux; le client peut accéder à cet archivage en contactant le service Relations Clients.</p>
    <p>La commande est considérée comme étant honorée de la part de Rivecol une fois remise au service de livraison (cf. § Livraison).</p>

    <h1>Paiement</h1>
    <p>Le paiement peut être effectué de deux manières.</p>
    <p>Il peut être réalisé par virement bancaire, accompagné du numéro de facture. Cette facture apparaît sur l'écran du client lorsqu'il a confirmé sa commande ou est envoyé par mail. Le RIB de Rivecol sera fourni à la demande expresse du client.</p>
    <p>Le paiement peut également être effectué par carte bancaire. Le site de la société Rivecol fait l'objet d'un système de sécurisation, la société ayant opté pour le procédé de cryptage Paybox.</p>

    <h1>Livraison</h1>
    <p>Tout produit est livré sans garantie quant aux délais. La date limite de livraison varie suivant l'adresse, la commande et l'état des stocks. Elle est fixée, pour une adresse en France métropolitaine au jour du paiement + 1 mois sauf cas exceptionnels.</p>
    <p>Rivecol ne peut être tenu pour responsable pour tout délai supplémentaire, détérioration et/ou perte du produit et tout cas relevant de la responsabilité du transporteur pouvant survenir une fois le produit remis au dit transporteur (cf § Commande). Néanmoins, Rivecol met tout en oeuvre pour faciliter les démarches de ses clients le cas échéant.</p>

    <h1>Relations clients - Service après-vente - Contestations</h1>
    <p>Pour toute information, question ou réclamation, le client peut s'adresser du lundi au vendredi, de 9 h à 18 h au service Relations Clients de la société Rivecol.</p>
    <p>Adresse: 18 rue Testaud 33600 Pessac</p>
    <p>e-mail: contact@rivecol.fr</p>
    <p>En cas de contestation, le consommateur a la possibilité de recourir à la procédure de médiation de la consommation.</p>

    <h1>Droit de rétractation</h1>
</body>
{% endblock %}