{% extends "polls/index.html" %}

{% block content %}

<form action="" id = "formTest" >
    {% csrf_token %}

    <select class="ui dropdown" id = "matiereC">
        <option selected disabled = "true">-Selectionnez le produit--</option>
        {% for mc in matiereC %}
            <option value= "{{mc.idMatiereCorps}}">{{mc.matiereCorps}}</option>
        {% endfor %}
    </select>

    <select class="ui dropdown" id = "matiereT">
        <option selected disabled = "true">-Selectionnez le produit--</option>
        {% for mt in matiereT %}
            <option value= "{{mt.idMatiereTige}}">{{mt.matiereTige}}</option>
        {% endfor %}
    </select>

    <!-- <select class="ui dropdown" id = "reference">
        <option selected disabled = "true">-Selectionnez le produit--</option>
        {% for ref in reference %}
            <option value= "{{ref.idReference}}">{{ref.libelle}}</option>
        {% endfor %}
    </select> -->
    
    <select class="ui dropdown" id = "type">
        <option selected disabled = "true">-Selectionnez le type--</option>
        {% for tp in type %}
            <option value= "{{tp.idType}}">{{tp.libelle}}</option>
        {% endfor %}
    </select>

    <select class="ui dropdown" id = "longueur_corps">
        <option selected disabled = "true">-Selectionnez la longueur--</option>
        {% for lc in longueurC %}
            <option value= "{{lc.idLongueurCorps}}">{{lc.longueurCorps}}</option>
        {% endfor %}
    </select>
    
    <select class="ui dropdown" id = "diametreC">
        <option selected disabled = "true">-Selectionnez le diamètre--</option>
        {% for dc in diametreC %}
            <option value= "{{dc.idDiametreCorps}}">{{dc.diametreCorps}}</option>
        {% endfor %}
    </select>

</form>
{% endblock content %}