<!doctype htmll>
<html lang="fr">
<head>
    <!-- Required meta flags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Rivecol - Vente de rivets de couleur et produits du BTP</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">


    
</head>
<body>
    <h1 style=" text-align: center;">Rivecol</h1>
    
    <section>
        <nav>
            <div style=" text-align: center;">
                <a href="http://127.0.0.1:8000/">Accueil</a>
                <a href="http://127.0.0.1:8000/couleurs-disponibles/">Couleurs disponibles</a>
                <a href="http://127.0.0.1:8000/boutique/">Boutique</a>
                <a href="http://127.0.0.1:8000/">Panier</a>
                <a href="http://127.0.0.1:8000/">connexion</a>
            </div>
        </nav>
    </section>
    {% block contenu %}

    {% endblock %}
</body>
<footer>
    <nav>
        <a href="">Contactez-nous</a>
        <a href="">Mentions légales</a>
        <a href="">Conditions générales de vente</a>
        <a href="">Plan du site</a>
    </nav>

</footer>
</html>