<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    
    
    {{ js_json_products|json_script:"js_json_products"}}
    {{ js_json_colors|json_script:"js_json_colors"}}
    <script>
        
        const json_products = JSON.parse(document.getElementById('js_json_products').textContent);
        const json_colors = JSON.parse(document.getElementById('js_json_colors').textContent);
        
        window.onload = function() {
            var matiere_CorpsSel = document.getElementById("matiere_Corps");
            var matiere_TigeSel = document.getElementById("matiere_Tige"); 
            var typeSel = document.getElementById("type");
            var diametreSel = document.getElementById("diametre");
            var longueurSel = document.getElementById("longueur");
            var teinteSel = document.getElementById("teinte");
            var type_teinteSel = document.getElementById("type_teinte");
            var ralSel = document.getElementById("ral");

            for (var x in json_products) {
                // alert(json.length);
                matiere_CorpsSel.options[matiere_CorpsSel.options.length] = new Option(x, x);
            }
               
            matiere_CorpsSel.onchange = function() {
                //empty Chapters- and Topics- dropdowns
                longueurSel.length = 1;
                diametreSel.length = 1;
                typeSel.length = 1;
                matiere_TigeSel.length = 1;
                //display correct values
                for (var c in json_products[this.value]) {
                    matiere_TigeSel.options[matiere_TigeSel.options.length] = new Option(c, c);
                }
            }

            matiere_TigeSel.onchange = function() {
                //empty Chapters dropdown
                longueurSel.length = 1;
                diametreSel.length = 1;
                typeSel.length = 1;
                //display correct values
                for (var mt in json_products[matiere_CorpsSel.value][this.value]) {
                    typeSel.options[typeSel.options.length] = new Option(mt, mt);
                }
            }

            typeSel.onchange = function() {
                //empty Chapters dropdown
                longueurSel.length = 1;
                diametreSel.length = 1;
                //display correct values
                for (var tr in json_products[matiere_CorpsSel.value][matiere_TigeSel.value][this.value]) {
                    diametreSel.options[diametreSel.options.length] = new Option(tr, tr);
                }
            }

            diametreSel.onchange = function() {
                //empty Chapters dropdown
                longueurSel.length = 1;
                //display correct values
                var dc = json_products[matiere_CorpsSel.value][matiere_TigeSel.value][typeSel.value][this.value];
                for (var i = 0; i < dc.length; i++) {
                    longueurSel.options[longueurSel.options.length] = new Option(dc[i], dc[i]);
                }
            }

            // Teinte et Ral
            for (var x in json_colors) {
                // alert(json.length);
                teinteSel.options[teinteSel.options.length] = new Option(x, x);
                
            }

            teinteSel.onchange = function() {
                //empty Chapters dropdown
                ralSel.length = 1;
                type_teinteSel.length = 1;
                //display correct values
                for (var g in json_colors[this.value]) {
                    ralSel.options[ralSel.options.length] = new Option(g, g);
                }
            }

            ralSel.onchange = function() {
                //empty Chapters- and Topics- dropdowns
                type_teinteSel.length = 1;
                //display correct values
                var r = json_colors[teinteSel.value][this.value];
                for (var i = 0; i < r.length; i++) {
                    type_teinteSel.options[type_teinteSel.options.length] = new Option(r[i], r[i]);
                }
            }
            
        }   
    </script>
    
</head>
<body>
    <h1>Cascading Dropdown GFIX products</h1>

    <form class ="form1" name="form1" id="form1" action="" method = "POST">
        {% csrf_token %}
        
        <select name="matiere_Corps" id="matiere_Corps" onclick=this.texte.value=this.options
            [this.selectedIndex].text ;>
            <option value="" selected="selected">Choisissez une matiere corps  </option> 
        </select>

        <select name="matiere_Tige" id="matiere_Tige" onclick=this.form.texte.value=this.options
            [this.selectedIndex].text ;>
            <option value="" selected="selected">Choisissez une matiere tige  </option>
        </select>

        <select name="type" id="type">
            <option value="" selected="selected">Choisissez la forme de la tête  </option>
        </select>

        <select name="diametre" id="diametre">
            <option value="" selected="selected">Choisissez un diamètre </option>
        </select>

        <select name="longueur" id="longueur">
            <option value="" selected="selected">Choisissez une longueur </option>
        </select>
        <br>
        <select name="teinte" id="teinte">
            <option value="" selected="selected">Choisissez une teinte</option>
        </select>

        <select name="ral" id="ral">
            <option value="" selected="selected">Please select type teinte first </option>
        </select>
        
        <select name="type_teinte" id="type_teinte">
            <option value="" selected="selected">Choisissez un type de teinte </option>
        </select>
        
        <br><br>
          
        <input type="submit" value="Submit">

        <button class = "btn btn-danger" type="button" name="button"> POST</button>
        
    </form>

    <p class = "total">Il y a X produits</p>
        
    <table border="1">
        <ul>
            <li colspan="2">Matière corps: {{ matiere_corps }}</li> 
            <li colspan="2">Matière tige: {{ matiere_tige }}</li> 
            <li colspan="2">Forme de tête: {{ type }}</td>
            <li colspan="2">Diamètre corps: {{ diametre }}</li>
            <li colspan="2">Longueur corps:  {{ longueur }}</li>
            <li colspan="2">RAL: {{ ral }}</li>
            <li colspan="2">Prix: {{ prix }} €</li>
        </ul>
            
    </table>

    <!-- Affichage de tous les articles en fonction des critères -->
    <section>
        <div>
            <article>


            </article>
        </div> 

    </section>
    
    
</body>
</html>