{% extends 'polls/script_js.html' %}
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Rivecol - Produits - Rivets</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    {% endblock %}
</head>
<body>
    {% block script %}


    <br><br>
    <form class ="form1" name="form1" id="form1" action="" method = "POST" style=" text-align: center;">
        {% csrf_token %}
        
        <select name="matiere_Corps" id="matiere_Corps" onclick=this.texte.value=this.options
            [this.selectedIndex].text ;>
            <option value="" selected="selected">Choisissez une matiere corps  </option> 
        </select>

        <select name="matiere_Tige" id="matiere_Tige" onclick=this.form.texte.value=this.options
            [this.selectedIndex].text ;>
            <option value="" selected="selected">Choisissez une matiere tige  </option>
        </select>

        <select name="type" id="type">
            <option value="" selected="selected">Choisissez la forme de la tête  </option>
        </select>

        <select name="diametre" id="diametre">
            <option value="" selected="selected">Choisissez un diamètre </option>
        </select>

        <select name="longueur" id="longueur">
            <option value="" selected="selected">Choisissez une longueur </option>
        </select>
        <p class="alert alert-danger">{{ erreur_produit }}</p> 
        <br><br>

        <select name="teinte" id="teinte">
            <option value="" selected="selected">Choisissez une teinte</option>
        </select>

        <select name="ral" id="ral">
            <option value="" selected="selected">Please select type teinte first </option>
        </select>
        
        <select name="type_teinte" id="type_teinte">
            <option value="" selected="selected">Choisissez un type de teinte </option>
        </select>
        <p class="alert alert-danger">{{ erreur_couleur }}</p> 
        
          
        

        <button class = "btn btn-danger" type="submit" name="button"> POST</button>
        
    </form>

        <table border="1">
            <ul style = "background-color:  code_hex; text-align: center;" >
                <li style="display: inline-block; border: 1px solid black;" colspan="2">Matière corps: {{ matiere_corps }}</li> 
                <li style="display: inline-block; border: 1px solid black;" colspan="2">Matière tige: {{ matiere_tige }}</li> 
                <li style="display: inline-block; border: 1px solid black;" colspan="2">Forme de tête: {{ type }}</li>
                <li style="display: inline-block; border: 1px solid black;" colspan="2">Diamètre corps: {{ diametre }}</li>
                <li style="display: inline-block; border: 1px solid black;" colspan="2">Longueur corps:  {{ longueur }}</li>
                
                {% if sans_couleur is False %}
                <li style="display: inline-block; border: 1px solid black;" colspan="2">RAL: {{ ral }}</li>
                {% endif %}
                

                <li style="display: inline-block; border: 1px solid black;" colspan="2">Prix: {{ prix }} €</li>
            </ul>
                
        </table>
        <p style="text-align: center;">Il y a {{ quantite }} produits</p>

    <!-- Affichage de tous les articles en fonction des critères -->
    <section>
        <div>
            <article>


            </article>
        </div> 

    </section>
    {% endblock %}
    
</body>
</html>