<!-- {% import polls/script_js_template%} -->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    
    
    {{ js_json|json_script:"js_json"}}
    <script>
        
        const json = JSON.parse(document.getElementById('js_json').textContent);
        
        window.onload = function() {
            var matiere_CorpsSel = document.getElementById("matiere_Corps");
            var matiere_TigeSel = document.getElementById("matiere_Tige"); 
            var referenceSel = document.getElementById("reference");
            var typeSel = document.getElementById("type");
            var diametreSel = document.getElementById("diametre");
            var longueurSel = document.getElementById("longueur");
            var conteur = document.getElementById("conteur");
            var num = 0;

            for (var x in json) {
                // alert(json.length);
                matiere_CorpsSel.options[matiere_CorpsSel.options.length] = new Option(x, x);
                num++;
                
            }
               
            matiere_CorpsSel.onchange = function() {
                var num = 0;
                //empty Chapters- and Topics- dropdowns
                longueurSel.length = 1;
                diametreSel.length = 1;
                typeSel.length = 1;
                // referenceSel.length = 1;
                matiere_TigeSel.length = 1;
                //display correct values
                for (var c in json[this.value]) {
                    matiere_TigeSel.options[matiere_TigeSel.options.length] = new Option(c, c);
                    num++;                        
                }
            }

            matiere_TigeSel.onchange = function() {
                var num = 0;
                //empty Chapters dropdown
                longueurSel.length = 1;
                diametreSel.length = 1;
                typeSel.length = 1;
                referenceSel.length = 1;
                //display correct values
                for (var mt in json[matiere_CorpsSel.value][this.value]) {
                    referenceSel.options[referenceSel.options.length] = new Option(mt, mt);
                    num++;   
                }
            }

            referenceSel.onchange = function() {
                var num = 0;
                //empty Chapters dropdown
                longueurSel.length = 1;
                diametreSel.length = 1;
                typeSel.length = 1;
                //display correct values
                for (var tr in json[matiere_CorpsSel.value][matiere_TigeSel.value]["rivet"]) {
                // for (var tr in json[matiere_CorpsSel.value][matiere_TigeSel.value][this.value]) {
                    typeSel.options[typeSel.options.length] = new Option(tr, tr);
                    num++;
                    
                }
            }

            typeSel.onchange = function() {
                var num = 0;
                //empty Chapters dropdown
                longueurSel.length = 1;
                diametreSel.length = 1;
                //display correct values
                for (var tr in json[matiere_CorpsSel.value][matiere_TigeSel.value][referenceSel.value][this.value]) {
                    diametreSel.options[diametreSel.options.length] = new Option(tr, tr);
                    num++;   
                }
            }

            diametreSel.onchange = function() {
                var num = 0;
                //empty Chapters dropdown
                longueurSel.length = 1;
                //display correct values
                var dc = json[matiere_CorpsSel.value][matiere_TigeSel.value][referenceSel.value][typeSel.value][this.value];
                alert(dc);
                for (var i = 0; i < dc.length; i++) {
                    longueurSel.options[longueurSel.options.length] = new Option(dc[i], dc[i]);
                    num++;
                }
            }
            
            conteur = num;
            alert(conteur);
            

        }

        
        
    </script>

</head>
<body>
    <h1>Cascading Dropdown GFIX products</h1>


    <form name="form1" id="form1" action="#" method = "POST">
        {% csrf_token %}
        
        Matière Corps: <select name="matiere_Corps" id="matiere_Corps">
            <option value="" selected="selected">Select matiere_Corps  </option> <p id = "counteur">(TEST)</p>
          </select>
          <br><br>

        Matière Tige: <select name="matiere_Tige" id="matiere_Tige">
            <option value="" selected="selected">Select matiere_Tige <p id = "counteur">(TEST) </option>
          </select>
          <br><br>

        Référence: <select name="reference" id="reference">
            <option value="" selected="selected">Select reference <p id = "counteur">(TEST) </option>
          </select>
          <br><br>

        Type: <select name="type" id="type">
            <option value="" selected="selected">Please select reference first <p id = "counteur">(TEST) </option>
          </select>
          <br><br>

        Diamètre: <select name="diametre" id="diametre">
            <option value="" selected="selected">Please select type first <p id = "counteur">(TEST) </option>
          </select>
          <br><br>

        Longueur: <select name="longueur" id="longueur">
            <option value="" selected="selected">Please select diametre first <p id = "counteur">(TEST)</option>
          </select>
          <br><br>
          
          <input type="submit" value="Submit">

          <p id = "total">>Il y a X produits</p>
    </form>

    <!-- Affichage de tous les articles en fonction des critères -->
    <section>
        <div>
            <article>


            </article>
        </div> 

    </section>
   
    
</body>
</html>