{% extends 'rivecol/index.html' %}

<body>
    {% block contenu %}
    <p><b>MON COMPTE</b></p>
    
    <form method="post">
        {% csrf_token %}
        
        <p><b>Identifiant ou e-mail</b>*<br>
            <input type="text">
        </p>
        
        <p><b>Mot de passe</b>*<br>
            <input type="text">
        </p>
        <input type="submit">


        <p><b>Identifiant ou e-mail</b>*<br>
            <input type="text">
        </p>
        
        <p><b>Mot de passe</b>*<br>
            <input type="text">
        </p>
        <input type="submit">

    </form>

    

    {% endblock %}
</body>