{% extends 'rivecol/index.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block contenu %}

    
    <h1><b>Raison sociale*</b></h1>
    <input type="text">

    <h1>Votre nom*</h1>
    <input type="text">

    <h1>Votre prénom*</h1>
    <input type="text">

    <h1>Votre adresse de messagerie*</h1>
    <input type="text">

    <h1>Votre n° de téléphone</h1>
    <input type="text">

    <h1>Objet</h1>
    <input type="text">

    <h1>Votre message*</h1>
    <input type="text">
    <br><br>
    <input type="submit">
    {% endblock %}
</body>
</html>