{% extends 'polls/index.html' %}

<body>
    {% block contenu %}
    <h1><b>Mentions légales</b></h1>

    <h2>Informations générales</h2>
    <h2>1. Présentation du site.</h2>

    <p>En vertu de l’article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé 
        aux utilisateurs du site<a href="">www.rivecol.fr</a>l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi :
    </p>
    <p><b>Propriétaire : </b>SAS Rivecol – 18 rue Testaud 33600 Pessac <br>
    <b>Capital</b> : 1200€<br>
    <b>Siret </b>: 88780785700016<br>
    <b>Numéro d’immatriculation au RCS </b>: 887 807 857 R.C.S. Bordeaux<br>
    <b>TVA intracommunautaire n°</b>: FR 08887807857<br>
    <b>Contact Rivecol</b>:<a href="">contact@rivecol.fr</a><br>
    <b>Créateur</b> : BENARD Alexandre<br>
    <b>Responsable publication</b> : BENARD Alexandre<br>
    Le responsable publication est une personne physique ou une personne morale.<br>
    <b>Webmaster</b> : BENARD Alexandre<br>
    <b>Hébergeur</b> : OVH – 2 rue Kellermann 59100 Roubaix France – 1007<br>
    Crédits : BENARD Alexandre<br>
    Le modèle de mentions légales est offert par Subdelirium.com <a href="">Modèle de mentions légales</a><br>
    </p>
    {% endblock %}
</body>
</html>